.footer{
    display: flex;
    height: 60px;
    background-color: black;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}