@import '_vars.scss';

.header {
    width: 100%;
    height: 75px;
    background-color: rgba(black, 1);
    color: black;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    grid-row: 1 / span 1; 
    grid-column: 1 / span 4;
}

.header_list {
    list-style: none;
    width: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.header_left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-decoration: none;
}

.header_list_item a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}

.header_menu {
    display: none;
}

.color_white {
    color: #fff !important;
}

.color_black {
    color: #000 !important;
}


@keyframes expand {
    0% {
        width: 110%;
    }

    25% {
        width: 120%;
    }

    50% {
        width: 130%;
    }

    75% {
        width: 140%;
    }

    100% {
        width: 150%;
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.hero_container {
    display: grid;
    grid-template-rows: 74px auto;
    grid-template-columns: auto auto auto auto;
    row-gap: 0;
    height: 100vh ;
    overflow: hidden;
    background: $--bg;
    
}

.rock_container,
.pop_container,
.electro_container,
.rap_container {
    width: 100%;
    height: 100%;
    transform: skewX(20deg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rock_container {
    grid-column: 1;
    background-color: $--rock;
}

.pop_container {
    grid-column: 2;
    background-color: $--pop;
}

.electro_container {
    grid-column: 3;
    background-color: $--electro;
}

.rap_container {
    grid-column: 4;
    background-color: $--rap;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.icon {
    width: 100%;
    transform: skewX(-20deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 150px;
}

.text {
    display: none;
    color: #fff;
    font-size: 32px;
    margin-top: 32px;
    overflow: visible;
}

.about-it {
    height: 100vh;
    width: 100%;
    background-color: $--bg;
}

/*animations*/
.rock_container:hover,
.pop_container:hover {
    z-index: 10;
    animation-name: expand;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    width: 150%;
}

.rock_container:hover .text,
.pop_container:hover .text,
.electro_container:hover .text,
.rap_container:hover .text {
    display: flex;
    width: 100%;
    justify-content: center;
}

.electro_container:hover,
.rap_container:hover {
    z-index: 20;
    animation-name: expand;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    width: 150%;
}

.about {
    background: $--bg;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
}

.about-it {
    box-sizing: border-box;
    overflow: hidden;
}

.title {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.main_text {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 1.25;
}

.p_text {
    font-size: 16px;
    text-align: center;
    width: 300px;
}

.column_container {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.left,
.right,
.center {
    width: 300px;
    font-size: 16px;
}

.left {
    margin-left: 10%;
    text-align: start;
    line-height: 1.25;
}

.right {
    margin-right: 10%;
    text-align: end;
    line-height: 1.25;
}

.center {
    text-align: center;
    line-height: 1.25;
}

.header_menu_list {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $--bg;
    color: black;
    display: none;


}

.header_menu_list h1 {
    color: black;

}

.header_menu_list li {
    height: 100px;
}

.close_menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 25px;

}

.show_menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    animation: aparicion .75s;

}

@keyframes aparicion {
    0% {
        height: 0;
        width: 0;
        transform: translateX(100vw);
        opacity: 0;
    }



    100% {
        height: 100vh;
        width: 100vw;
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .header {
        
        grid-row: 1 / span 1; 
        grid-column: 1 / span 2;
    }
    .header_right {
        display: none;
    }

    .header_menu {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero_container {
        display: grid;
        grid-template-columns: auto auto;
        
        height: 100vh;
        overflow: hidden;
        background: $--bg;
        padding-right: 50px;
    }

    .rock_container,
    .pop_container,
    .electro_container,
    .rap_container {
        transform: skewX(0deg);
    }

    .rock_container {
        grid-column: 1;
        grid-row: 2;
    }

    .pop_container {
        grid-column: 2;
        grid-row: 2;
    }

    .electro_container {
        grid-column: 1;
        grid-row: 3;
    }

    .rap_container {
        grid-column: 2;
        grid-row: 3;
    }

    .hero_container {
        padding-right: 0px;
    }

    .icon {
        transform: skewX(0deg);
    }

    .icon img {
        height: 100px;
    }

    .rock_container:hover,
    .pop_container:hover,
    .electro_container:hover,
    .rap_container:hover {
        z-index: 1;
        animation-name: none;
        animation-duration: 0s;
        animation-timing-function: 0s;
        width: 100%;
    }

    .rock_container .text,
    .pop_container .text,
    .electro_container .text,
    .rap_container .text {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .column_container {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .p_text {
        font-size: 16px;
        text-align: center;
        width: 80%;
    }

    .left,
    .right,
    .center {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
    .about{
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-it {
        box-sizing: border-box;
        overflow: scroll;
        padding-left: 50px;
        padding-right: 50px;
    }

    .column_container {
        margin-top: 10px;
    }
}